@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

.main-content {
  padding-left: 15%; /* This corresponds to the width of the sidebar */
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 0;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 15px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  outline: none;
}

.pagination button:hover {
  background-color: #e5e5e5;
}

.pagination .active {
  background-color: #0095f6;
  color: white;
  border-color: #0095f6;
}

.pagination button:active {
  transform: scale(0.98);
}

.pagination button:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
